<h2>Here's a form to edit a new cryptid</h2>

<form action="/cryptids" method="POST">
    <label for="cryptid-img_url">Pic:</label>
    <input type="text" name="img_url" id="cryptid-img_url">
    <label for="cryptid-name">Name:</label>
    <input type="text" name="name" id="cryptid-name">
    <input type="submit" value="Add That Cryptid!">
</form>